<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material" [formGroup]= "loginForm"  >
            <div class="text-center">
              <h3>Deliver Hub</h3>
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">Login</h3>
                </div>
              </div>
              <hr/>
              <div class="input-group">
                <input  type="text" class="form-control" placeholder="Your Username" required formControlName= "Email">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input  type="password" class="form-control" placeholder="Password" formControlName="Password">
                <span class="md-line"></span>
              </div>
              
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" (click)="login()" [disabled]="!loginForm.valid" style="cursor:pointer">Sign in</button>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-10">
               
                  <p class="text-inverse text-left"><b>All Rights Reserved
                    © 2020 DemiT</b></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
